<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Application form for semester 4</h1>
    <input type="text"placeholder="Enter your name">
    <input type="text"placeholder="Enter your roll no.">
    <input type="password"placeholder="password">
    <br>
    <h3>Select course</h3>
    <label>
    <input type="radio"value="B.Tech"name="course">B.Tech
    <br>
    <input type="radio" value="BCA"name="course">BCA
    </label>
    <label>
    <h3>Select branch</h3>
    <input type="radio"value="CSE" name="branch">CSE
    <br>
    <input type="radio"value="CE"name="branch">CE
    <br>
    <input type="radio"value="ME"name="branch">ME
    </label>
    <br>
    <h3>Seclect subject</h3>
    <input type="checkbox"value="TOC"name="subject">TOC
    <input type="checkbox"value="OS"name="subject">OS
    <input type="checkbox"value="JAVA"name="subject">JAVA
    <input type="checkbox"value="TC"name="subject">TC
    <input type="checkbox"value="CS"name="subject">CS
    <input type="checkbox"value="M-4"name="subject">M-4
    <input type="checkbox"value="UHV"name="subject">UHV
    <input type="checkbox"value="Laser"name="subject">Laser
    <input type="checkbox"value="python"name="subject">python
    <br>
    <select name="City">
    <option value="Lucknow">Lucknow</option>
    <option value="Delhi">Delhi</option>
    <option value="USA">USA</option>
    </select>
    <textarea name="feedback"placeholder="plese give your feedback">feedback-</textarea>
    <br>
    <a href="https://www.aiet.ac.in">Submit</a>
    <input type="submit"value="submit"
</body>
</html>