<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | Your App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='css/theme.css')}}">
</head>

<body data-theme="light">

<button class="theme-toggle" onclick="toggleTheme()">🌗</button>

<div style="height:100vh;display:flex;align-items:center;justify-content:center;">
  <div class="card" style="width:100%;max-width:380px;text-align:center;">

    <h2 style="margin-bottom:6px;">Welcome 👋</h2>
    <p style="color:var(--text-muted);margin-bottom:24px;">
      Login to continue
    </p>

    <!-- EMAIL LOGIN -->
     <form action="/" method="post">

       <input
       type="email"
       class="input"
       placeholder="Enter your email"
       name = 'email'
       required
       />
       
       <button type="submit" class="btn-primary" style="margin-top:16px;">
         Continue with Email
        </button>
        
        <div style="margin:18px 0;color:var(--text-muted);font-size:13px;">
    </form>
      or
    </div>

    <!-- GOOGLE LOGIN -->
    <button class="btn-secondary">
      <img
        src="https://developers.google.com/identity/images/g-logo.png"
        width="18"
        alt="Google"
      />
      Continue with Google
    </button>

  </div>
</div>

<script>
  function toggleTheme(){
    const body = document.body;
    body.dataset.theme =
      body.dataset.theme === "dark" ? "light" : "dark";
  }
</script>

</body>
</html>
